@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.allCal{
    background-color:  #5C6784;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 135vh;
    display: flex;
    text-align: center;
}

.cal{
    position: absolute;
    width: 78%;
    height: auto;
    left: 20%;
    top: 10%;
    font-family: Montserrat;
    font-style: normal;
    background-color: white;
}
.sidebar {
    position: sticky;
    flex-direction: column;
    font-weight: bold;
    background-color:  #5C6784;;
    width: 20%;
    top: 12%;
    height: 100vh;
    left: 0%;
}

.addNewEvent {
    position: sticky;
    justify-content: center;
    top: 20%;
    width: 100%;
    height: auto;
    flex-direction: row;
    color: white;
    font-weight: bolder;
    font-size: 22px;
}


.toggleMonthWeek {
    position: sticky;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    top: 20%;
    color: white;
    font-weight: bolder;
    font-size: 22px;
}

.toggleCalendarView {
    position: sticky;
    flex-direction: row;
    width: 100%;
    height: auto;
    top: 35%;
    color: white;
    font-weight: bolder;
    font-size: 22px;
}

.dartCalLogoCal {
    position: absolute;
    top: 1%;
    left: 37.5%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    height: auto;
    color: white;
}

.checkbox{
    color: #1D263B;
    margin-left: 15%;
    text-align: left;
    margin-top: 2%;
}

.friendsCal {
    position: sticky;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    top: 65%;
    color: white;
    font-weight: bolder;
    font-size: 22px;
}

.addEventModalFromClick{
    height: 80%;
}

a {
    color: white;
}

img {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

input.shortSearch {
    min-width:200px;
}

.modal {
    position: absolute;
    z-index: 1000;
    justify-content: center;
    width: 40%;
    height: 60%;
    top: 25%;
    left: 30%;
    background-color:#CED1DA;
    border-radius: 50px;
}


.modalTitle {
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 10%;
    top:10%;
}

.newEventInfo{
    position: absolute;
    flex-direction: column;
    width: 80%;
    height: 80%;
    top: 22%;
    left: 10%;

    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: black;
  }

  .eTypeClass {
    background: rgba(36, 216, 255, 0.44);
    color: black;
    border: none;
  }

  .eTypeClub {
    background: rgba(36, 255, 58, 0.44);
    color: black;
    border: none;
    }

.eTypeSocial {
    background: rgba(198, 36, 255, 0.44);
    color: black;
    border: none;
    }

.eTypeOther {
    background: rgba(255, 207, 60, 0.6);
    color: black;
    border: none;
}


.inputlinecal{
    display: absolute;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 5%;
  }

.fc-event-time, .fc-event-title {
    padding: 0 1px;
    white-space: nowrap;
}
    
.fc-title {
    white-space: normal;
}

.logoutIconCal{
    position: absolute;
    flex-direction: row;
    justify-content: center;
    display: flex;
    width: 20%;
    height: auto;
    top: 2%;
    left: 0%;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.calProfileIcon{
    position: absolute;
    flex-direction: row;
    justify-content: center;
    display: flex;
    width: 20%;
    height: auto;
    top: 2%;
    left: 80%;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

NavLink #row {
    flex-direction: row;
    justify-content: center;
    font-style: normal;
  }
  
.topBarCal {
    position: sitcky;
    top: 0%;
    left:0%;
    width: 100%;
    height: 12%;
  }
  