.all{
    background-color:  #5C6784;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    min-height: 120vh;
    display: flex;
    text-align: center;
  }
.searchBarFriend {
    position: absolute;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    height: auto;
    top: 15%;
    left: 35%;
    margin-left: 5%;
    margin-right: 5%;
    color: black
  
}

.dartCalLogoSearch {
    position: static;
    top: 2%;
    bottom: 14.86%;
    left: 50%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10%;
    height: 10%;
  
    position: absolute;
  
    color: white;
  
  }
  .clubHeader{
    font-size: 40px;
    font-family: Montserrat;
    color: white;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 10%;
  }

  .clubSection{
      position: absolute;
      top: 35%;
      width: 80%;
      height: 30%;
      left: 10%;
  }

  .clubBrowse{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 200px;
  }

  .clubContainer > div {
    color: white;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
  }

  img.a{
    border-radius: 25px;
  }

  p{
    position: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
  }

.club-triangle-left {
  position: absolute;
  top: 42%;
  left: 5%;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #1D263B;
	border-bottom: 25px solid transparent;
}
.club-triangle-right {
  position: absolute;
	width: 0;
  height: 0;
  top: 42%;
  left: 93%;
	border-top: 25px solid transparent;
	border-left: 50px solid #1D263B;
	border-bottom: 25px solid transparent;
}
.friendHeader{
    font-size: 40px;
    font-family: Montserrat;
    color: white;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 62%;
    left: 10%;
  }

.friendSection{
    position: absolute;
    top: 70%;
    width: 80%;
    height: 30%;
    left: 10%;
}

.friendBrowse{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 200px;
}

.friendContainer > div {
  color: white;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}

.friend-triangle-left {
    position: absolute;
    top: 78%;
    left: 5%;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #1D263B;
	border-bottom: 25px solid transparent;
}
.friend-triangle-right {
    position: absolute;
	width: 0;
    height: 0;
    top: 78%;
    left: 93%;
	border-top: 25px solid transparent;
	border-left: 50px solid #1D263B;
	border-bottom: 25px solid transparent;
}

.toProfile{
  position: absolute;
  top: 3%;
  left: 85%;
}
.toCal{
  position: absolute;
  top: 3%;
  left: 15%;
}