.allSignUp{
  background-color: #FBFBFB;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  min-height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
}
  .dartCalLogoSmall {
    position: absolute;
    top: 17.89%;
    bottom:76%;
    width: 100%;
    height: 10%;
    
    /* Header I */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    text-transform: uppercase;
    
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  
    color: #565C57;

    vertical-align: middle;
    flex-direction: row;
  }


  .accountinfo{
    position: absolute;
    flex-direction: column;
    width: 40%;
    height: 50%;
    top: 30%;
    left: 30%;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: black;

  }


  input{
    min-width:250px;
  }

  .signupnameContainer {
    position: absolute;
    font-size: 216px;
    
    
    left: calc(50% - 216px/2 - 209px);
    padding: 30px;
    top: 30.56%;
    bottom: 65.33%;
    color: #898F89;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: right;

  }

  .signupinputContainer {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    border-radius: 12%;
    text-align: left;
    left: 47%;
    top: 30%;
    padding: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .signupindivInput {
    background-color: #FBFBFB;
  }

  .signuporcancelbuttons {
    position: absolute;
    left: 38%;
    top: 73%;
    
    
    border-radius: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    text-align: center;

  }
