  .allSignIn{
    background-color: #FBFBFB;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    min-height: 120vh;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
  }
  
  .dartCalLogo {
    position: absolute;
    top: 20%;
    bottom: 14.86%;
    width: 100%;
    height: 10%;
    
    /* Header I */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    text-transform: uppercase;

    /* Grey - 4 */
    color: #565C57;

    vertical-align: middle;
    flex-direction: row;
  }
  


  .inputline{
    display: absolute;
    flex-direction: row;
    margin-top: 4%;
    margin-left: 5%;
  }

  .logininfo{
    position: absolute;
    flex-direction: column;
    width: 60%;
    height: 50%;
    top: 40%;
    left: 20%;

    font-weight: bolder;
    font-size: 24px;
    color: black;
  }

  .signup{
    display: absolute;
    flex-direction: row;
    margin-top: 7%;
    font-style: normal;
    font-weight: bolder;
  }

  
  input{
    background: #C4C4C4;
    opacity: 0.5;
    height: 22px;
  }
  
  .enterorcancelbuttons{
    position: absolute;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    height: 15%;
    top: 80%;
    left: 40%;
  }

  Button{
    background: #1D263B;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #C4C4C4;
    border: none;
  }
  Button:hover{
    background-color: #C4C4C4;
    color: #1D263B;
    transition-duration: 500ms;
  }

  #longButtons {
    width: 100%;
    left: 0%;
  }