  .allSignIn{
    background-color: #FBFBFB;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    min-height: 100vh;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
  }
  
  .dartCalLogoSignIn {
    position: absolute;
    top: 20%;
    bottom: 14.86%;
    width: 100%;
    height: 10%;
    
    /* Header I */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    text-transform: uppercase;

    /* Grey - 4 */
    color: #565C57;

    vertical-align: middle;
    flex-direction: row;
  }
  


  .inputline{
    display: relative;
    flex-direction: row;
    margin-top: 4%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: bottom;

    /* Grey - 3 */
    color: #898F89;
  }

  .logininfo{
    position: relative;
    flex-direction: column;
    width: 50%;
    height: 50%;
    left: 24%;
    margin-top: 8%;

    align-content: center;

    font-weight: bolder;
    font-size: 24px;
    color: black;
  }

  .signup{
    display: relative;
    flex-direction: row;
    margin-top: 7%;
    
    /* Text */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-align: center;

    /* Grey - 4 */
    color: #565C57;
  }

  
  input{
    /* Avocado Lime Ranch */
    background-color: #96AB84;
    opacity: 0.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    line-height: 30px;
    border: none;
  }

  Button{
    background: #2C6742;
    border-radius: 10px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border: none;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;

    /* Grey - 0 */
    color: #FFFFFF;
  }

  Button:hover{
    background-color: #96AB84;
    color: #565C57;
    transition-duration: 500ms;
  }

  #longButtons {
    width: 100%;
    left: 0%;
  }

  NavLink {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-decoration-line: underline;

    /* Grey - 4 */

    color: #565C57;
  }