.navBar {
    position: absolute;
    height: 9%;
    width: 100%;
    top:0%;
    background-color: #E1E3E2;
    align-content: center;
    vertical-align: middle;
    z-index: 1;
}

.dartCalLogoNav{
    position: absolute;
    width: 25%;
    top: 10%;

    /* Header I */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    text-transform: uppercase;

    /* Grey - 4 */
    color: #565C57;
    vertical-align: middle;
    flex-direction: row;
}


#nav{
    border-radius: 10px;
    color: #E9ECE9;
    padding: 5px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
}

.landing{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 0;

    background: #2C6742;
    opacity: 1;
}

.tint {
    position:absolute;
    background: #2C6742;
    width:100%; 
    height:100%;
    opacity: .3;
}

.welcomeBox{
    position: absolute;
    height: 30%;
    width: 50%;
    left: 40%;
    top: 50%;

    /* Grey - 3 */
    background: #898F89;
    /* Grey - 5 */
    border: 1px solid #272C28;
    box-sizing: border-box;
}

h4{
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
  
    text-align: center;
    text-transform: uppercase;

    /* Grey - 1 */

    color: #E9ECE9;
    backdrop-filter: blur(4px);
}

h5 {
    font-style: normal;
    font-weight: 300;
    font-size: 45px;

    text-align: center;
    text-transform: uppercase;

    /* Grey - 5 */

    color: #272C28;
}

h1{
    /* Header I */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;

    text-align: center;
    text-transform: uppercase;

    color: #000000;

}

.splashServices{
    position: absolute;
    top: 100%;
}
