.dartCalLogoProfile {
    position: static;
    top: 2%;
    bottom: 14.86%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  
    position: absolute;
  
    color: white;
  }

  .profileinfo{
    position: absolute;
    flex-direction: column;
    top: 2%;
    left: 0%;
    width: 40%;
    height: 20%;
    background-color: black;
    
  }
  .sectionHeader{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    width: 30%;
    height: 10%;
  }

  .classinfo{
    position: absolute;
    flex-direction: column;
    top: 2%;
    left: 80%;
    width: 40%;
    height: 80%;
  }