.all{
    background-color:  #5C6784;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    min-height: 100vh;
    display: flex;
    text-align: center;
  }
  
  .dartCalLogo {
    position: static;
    top: 30%;
    bottom: 14.86%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  
    position: absolute;
  
    color: #C4C4C4;
  }
  
  .signInBox1{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 449px;
    height: 89px;
    left: 30%;
    right: 40%;
    top: 50%;
  }
  
  .signInBox2{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 449px;
    height: 89px;
    left: 30%;
    right: 40%;
    top: 60%;
  }
  
  .scheduleLogo{
    padding-left: 2%;
    float: top;
  }
  
  input{
    height: 22px;
  }
  
  .prompt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 5%;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: white;
  
    
  }
  
  .displaySignInInfo{
    position: absolute;
    width: 449px;
    height: 89px;
    width: 100%;
    height: 100%;
    /*
    display: flex;
    flex-direction: column;
    text-align: center;
    */
    
   
    
  }
  
  input{
    background: #C4C4C4;
    opacity: 0.5;
  }
  
  button{
    position: absolute;
    height: 47px;
    left: 40%;
    right: 40%;
    top: 615px;
  
    background: #1D263B;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
  
    position: absolute;
    height: 60px;
    left: 49.25%;
    right: 41.61%;
    top: 80%;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  
    color: #C4C4C4;
  
  }